h1{
    color : red;
}

#home-intro{
    text-align:center;
    /*border: 3px;
    border-color: black;
    border-style: solid;*/
    border: 5px solid blueviolet;
}

#home-intro:hover{
    background-color:lightcoral;
}

#p2{
    color:blue;
}

#nav{
    text-align: center;
    background-color: brown;
    height:25px;
    padding-top: 7px;
    margin-bottom: 3px;
}

#nav a{
    margin: 0px 5px;
    text-decoration: none;
    color: white;
}